.root {
    -fx-background-color: #cba97f;
}


.title{
    -fx-text-fill: #a17c53;
    -fx-font-size:40px;
    -fx-font-family: "Comic Sans MS";
}

.button {
    -fx-background-color: #9d7145;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 15;
    -fx-padding: 10 20 10 20;
}

/*makes button change colour when hover*/
.button:hover {
    -fx-background-color: #835e39;
}

/*new css for board*/
.board-tile {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-shape: "M 15,0 H 35 L 50,15 V 35 L 35,50 H 15 L 0,35 V 15 Z";
    -fx-background-color: #725242;
    -fx-background-insets: 0; /* Ensures the shape fills the whole 50x50 area */
}

.board-tile:hover {
    -fx-background-color: #5e4437;
    -fx-border-color: #5e4437;
}

.board-tile:pressed {
    -fx-background-color: #422f25;
    -fx-border-color: #422f25 ;
}


.playerVsBot{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 30pt;
    -fx-text-fill: #725031;
}

.playerVsplayer{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 30pt;
    -fx-text-fill: #725031;
}

.whiteButtonPressed{
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.blackButtonPressed{
    -fx-background-color: #000000;
    -fx-border-color: #000000;
}


.playerToPlay{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 30pt;
    -fx-text-fill: #725031;
}

.board-tile {
    /* Remove pref-width and pref-height from here! */
    -fx-shape: "M 14,0 H 36 L 50,14 V 36 L 36,50 H 14 L 0,36 V 14 Z";
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #725242;
}

.diamond-tile {
    /* Remove pref-width and pref-height from here! */
    -fx-background-color: #333333;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
